<div class="title">
   <h1>Real time Stock Visualizer</h1>
</div>
<div class="controls">
   <mat-form-field appearance="fill">
      <mat-label>Select Stocks</mat-label>
      <mat-select [(ngModel)]="selectedItem" multiple>
        <mat-option *ngFor="let stock of stocksList" [value]="stock">{{stock}}</mat-option>
      </mat-select>
      <mat-hint>Selected stocks: {{selectedItem}}</mat-hint>
    </mat-form-field>
</div>
<div class="controls">
   <button mat-raised-button color="primary" (click) = "genGraphs()" class="button">Fetch Data</button>
</div>

<div *ngFor="let stock of selectedStocks; index as i">
   <app-stock-chart [stockName]="stock" ></app-stock-chart>
</div>