.title
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.button{
    margin: 5px;
}

h1 {
    font-size: 40px;
    font-style: italic;
    font-family: 'Brush Script MT', cursive;
    color: #5D3FD3;
}